@using Web.ViewModels
@if (Editing)
{
<div>
    <input id="sold" type="number" @bind="sold" @bind:event="oninput" placeholder="Enter sold" class="soldInput" />
    <a class="btn-primary" type="button" @onclick="OnConfirmClick">CONFIRM @sold</a>
    <a class="btn-primary" type="button" @onclick="OnCancelClick">X</a>
</div>
}
else
{
    <div style="width:10em">
        <a class="btn-primary" type="button" @onclick="OnEditClick">EDIT SOLD</a>
    </div>
}

@code {
    bool Editing = false;
    int sold = 0;

    ListEventViewModel eventViewModel;

    [Parameter]
    public ListEventViewModel Event
    { 
        get
        {
            return eventViewModel;
        }
        set
        {
            eventViewModel = value;
            sold = eventViewModel.Sold;
        }
    }

    [Parameter]
    public EventCallback<ListEventViewModel> OnConfirmed { get; set; }

    public void OnEditClick()
    {
        Editing = true;
    }

    public async void OnCancelClick()
    {
        Editing = false;
    }

    public async void OnConfirmClick()
    {
        var clonedEventViewModel = eventViewModel with { Sold = sold };
        await OnConfirmed.InvokeAsync(clonedEventViewModel);
        Editing = false;
    }
}
